*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.snm
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.synctex(busy.lock)
*.synctex(busy.locked)
*.synctex(busy.locked.locked)
*.synctex(busy.locked.locked.locked)
*.nav
*.vrb